.title {
  padding-top: 70px;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

:root {
--primary-color: rgb(255, 234, 0);
}

#service-section {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
z-index: 1;
}


#service-section h1 {
margin-top: 30px;
color: #fff;
font-size: 2rem;
margin-bottom: 20px;
position: relative;
}

#service-section h1:after {
margin-top: 70px;
position: absolute;
content: " ";
top: 8px;
left: -30px;
height: 0;
width: 0;
border-top: 20px solid transparent;
border-left: 20px solid var(--primary-color);
}

#service-section h1:before {
margin-top: 70px;
position: absolute;
content: " ";
top: 8px;
right: -30px;
height: 0;
width: 0;
border-top: 20px solid transparent;
border-right: 20px solid var(--primary-color);
}

.form-control {
color: #fff;
display: flex;
justify-content: center;
}

.form-control select{
  margin-bottom: 40px;
  width: 200px;
  height: 31.33px;
}

form {
width: 80%;
max-width: 40rem;
padding: 1rem;
border-radius: 12px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

}

form p {
display: flex;
justify-content: space-between;
align-items: center;
/* Space between form rows */
}


.form-control label {
/* float: left; */
font-weight: bold;
/* Add vertical spacing between lines */
flex: 1;
margin-bottom: 40px;
}

.form-control input {
color: black;
padding: 0.25rem;
border-radius: 4px;
border: 1px solid #ccc;
/* display: block; */
max-width: 200px;
flex: 2;
margin-bottom: 40px;
}



/* Style for the submit button */
form button {
background-color: rgb(55, 116, 190);
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
display: block;
margin: 0px auto;
margin-bottom: 20px;
width: 80px;
height: 40px;
text-align: center;

}

/* Ensuring the button text is centered (if needed) */
form button span {
display: block;
text-align: center;
}

form button:hover {
background-color: #28a745;
/* Green color, for example */
}


.engine-details-header{
margin-bottom: 50px;
font-size: 16px;

}

.engine-details{
margin: 20px 0;
}



.logout {
text-align: center;
padding-bottom: 40px;
padding-top: 30px;
}

.logout a.ctaa {
color: white;
background: rgba(8, 24, 68, 0.829);
border: 1px solid transparent;
padding: 12px 30px;
line-height: 1.4;
font-size: 14px;
font-weight: 500;
border-radius: 30px;
text-transform: uppercase;
transition: all .55s ease;
}

.logout a.ctaa:hover {
background: transparent;
border: 1px solid white;
transform: translateX(8px);
}


/* da el div elli shayl kol label w input bto3 el jquery */
.form-group {
display: flex;
justify-content: space-between;
align-items: center;
/* Space between form rows */
}


table {
margin-top: 20px;
margin-left: 15px;
margin-right: 15px;
border-spacing: 3px;
border-radius: 12px 12px 0 0;
overflow: hidden;
box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
width: auto;
height: auto;
background: white;
text-align: center;
vertical-align: middle;
position: center;
margin-bottom: 20px;
}

table caption{
color: white;
margin-bottom: 20px;
font-weight: bold;
}


th,
td {
padding: 12px 12px;
}

th {
background: rgb(55, 116, 190);
color: rgb(255, 255, 255);
font-weight: bold;
font-size: 13.5px;
font-family: 'Roboto', sans-serif;
white-space: nowrap;
text-align: center;
}


td {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 12px;
text-align: center;
vertical-align: middle;
}

tr:nth-child(even) {
background-color: rgb(203, 224, 248);
}

tr:hover {
background: rgba(137, 190, 250, 0.849);
}

.table-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}


.table-container h2{
color: white;
display: flex;
justify-content: center;
}

a.ctaa {
    color: white;
    background: rgba(8, 24, 68, 0.829);
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

a.ctaa:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}


.button-container2{
display: flex;
justify-content: center; /* Center buttons horizontally */
width: 100%;
gap: 50px;
margin-top: 60px;
margin-bottom: 60px;
}


@media(max-width:768px) {
  #service-section h1 {
    margin-top: 50px;
    font-size: 24px;
  }

  .form-control label{
    font-size: 12.5px;
  }

.form-control input, .form-control select{
  max-width: 125px;
  height: 21px;
}

.engine-details-header{
  font-size: 12.5px;
}



}