.aircraft {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(86.3deg, rgba(0, 119, 182, 1) 3.6%, rgba(8, 24, 68, 1) 87.6%); */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 19%;
}

.aircraft-text h1 {
  font-family: "Timmana", sans-serif;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 100px 0 10px;
  padding-top: 40px;
}

.aircraft-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;

}

.aircraft-img img {
  width: 700px;
  margin-top: 40px;
  height: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aircraft-img img {
  animation: rotate 20s linear infinite;
}

.aircraft-text a {
  display: inline-block;
  color: white;
  background: rgba(8, 24, 68, 0.829);
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}

.aircraft-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.aircraft-text a.ctaa {
  margin-left: 20px;
}

.aircraft-text a.ctaa {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .50s ease;
}

.icons i:hover {
  color: rgba(8, 24, 68, 0.829);
  transform: translateY(-5px);
}

.scroll-down {
  position: fixed;
  bottom: 6%;
  right: 3%;
  z-index: 1000; /* High z-index to keep it above other content */
  cursor: pointer; /* To indicate it's clickable */
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 20px;
  color: white;
  background: rgba(8, 24, 68, 1);
  border-radius: 30px;
  transition: all .50s ease;
}

.scroll-down i:hover {
  transform: translateY(-5px);
}


@media (max-width:1535px) {
  header {
    padding: 15px 3%;
    transition: .2s;
  }

  .icons {
    padding: 0 3%;
    transition: .2s;
  }

  #menu-icon {
    display: none;
  }
}

@media (max-width:1460px) {
  section {
    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width:1340px) {
  .aircraft-img img {
    width: 100%;
    height: auto;
  }

  .aircraft-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width:1160px) {
  section {
    padding: 0 3%;
    transition: .2s;
  }

  .aircraft-text {
    padding-top: 115px;
  }

  .aircraft-img {
    text-align: center;
  }

  .aircraft-img img {
    width: 560px;
    height: auto;
  }

  .aircraft {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .icons {
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width:680px) {
  .aircraft-img img {
    width: 100%;
    height: auto;
  }
}

/* first page end */

/* Our Services Start */
:root {
  --primary-color: rgb(255, 234, 0);
  --secondary-color: rgba(255, 255, 255, .4)
}

#service-section {
  min-height: 740px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#service-section h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}

#service-section h2:after {
  position: absolute;
  content: " ";
  top: 8px;
  left: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid var(--primary-color);
}

#service-section h2:before {
  position: absolute;
  content: " ";
  top: 8px;
  right: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--primary-color);
}

#service-section #paragraph {
  width: 45%;
  font-size: 1rem;
  color: rgba(255, 255, 255, .7);
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 40px;
  /* text-transform: uppercase; */
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  z-index: 2;
  margin-top: 10px;
}

.cards .card {
  height: 350px;
  width: 450px;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: rgba(8, 24, 68, 1);
  position: relative;
  border-radius: 10px;
}

.cards .card::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(255, 234, 0);
  transition: .6s;
  transform: rotate(0deg);
  z-index: -1;
}

.cards .card:hover.card::before {
  transform: rotate(10deg);
}

.cards .card i {
  font-size: 2rem;
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .card-content h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 70px;
}

.cards .card .card-content p {
  color: #fff;
  font-size: 1.05rem;
  margin-bottom: 20px;
  font-weight: 560px;
  text-align: center;
  justify-content: center;
  padding: 20px 20px;

}

@media(max-width:1100px) {
  #service-section h2 {
    margin-top: 30px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  #service-section #paragraph {
    width: 80%;
  }
}

@media(max-width:900px) {
  .cards .card {
    height: 400px;
    width: 400px;
    margin: 20px 0;
  }
}

/* Our Services end */

/* About Start */

.about-content {
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(86.3deg, rgba(0, 119, 182, 1) 3.6%, rgba(8, 24, 68, 1) 87.6%);
  ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content img {
  height: auto;
  width: 550px;
  max-width: 100%;
  border-radius: 10%;
  padding-right: 10px;
}

.about-text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.about-text h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.about-text h5 {
  color: white;
  font-size: 1rem;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.about-text p {
  color: #c0c4d6;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.about-text button {
  background-color: white;
  color: black;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}

.about-text button:hover {
  transform: scale(1.2);
  background: transparent;
  color: white;
  border: 2px solid rgb(255, 234, 0);
  transition: .4s;
  cursor: pointer;

}

@media screen and (max-width: 900px) {
  .about-content {
    margin-top: 100px;
    flex-direction: column;
    /* Stack vertically on smaller screens */
  }

  .about-text h1 {
    font-size: 24px;
    /* Adjust font size */
  }

  .about-text h1 {
    font-size: 20px;
    /* Further adjust font size for very small screens */
  }

  .about-text h5,
  .about-text p {
    font-size: 14px;
    /* Adjust font size for readability */
  }

  .about-text {
    padding: 15px;
  }
}

/* About ends */

/* Meet the team Start */
:root {
  --primary-color: rgb(255, 234, 0);
  --secondary-color: rgba(255, 255, 255, .4)
}

#meettheteam-section {
  min-height: 800px;
  width: 100%;
  display: flex;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#meettheteam-section h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}

#meettheteam-section h2:after {
  position: absolute;
  content: " ";
  top: 8px;
  left: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid var(--primary-color);
}

#meettheteam-section h2:before {
  position: absolute;
  content: " ";
  top: 8px;
  right: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--primary-color);
}

#meettheteam-section #paragraph {
  width: 45%;
  font-size: 1rem;
  color: rgba(255, 255, 255, .7);
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 40px;
}

.meet-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  z-index: 2;
  margin-top: 20px;

}


.meet-cards .meet-card {
  height: 450 px;
  width: 450px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: rgba(8, 24, 68, 1);
  position: relative;
  border-radius: 10px;
}

.meet-cards .meet-card::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(255, 234, 0);
  transition: .6s;
  transform: rotate(0deg);
  z-index: -1;
}

.meet-cards .meet-card:hover.meet-card::before {
  transform: rotate(10deg);
}

.meet-cards .meet-card i {
  font-size: 2rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.meet-card .meet-card-content h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.meet-cards .meet-card .meet-card-content p {
  color: #fff;
  font-size: 1.05rem;
  margin-bottom: 20px;
  font-weight: 560px;
}

.meet-cards .meet-card:nth-child(5) {
  grid-column: 1 / -1;
  /* Makes it span across all columns in the grid */
  justify-self: center;
  /* Centers it within the grid */
  max-width: calc(50% - (25px / 2));
  /* Adjust width to match the other cards, taking the gap into account */
}

.meet-card .img-container {
  width: 10em;
  height: 10em;
  background-color: rgba(0, 119, 182, 1);
  padding: 0.5em;
  border-radius: 50%;
  margin: 20px auto 2em auto;
}

.meet-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
  border-radius: 50%;
}


.meet-card h3 {
  font-weight: 500;
  text-align: center;
}

.meet-card p {
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}

.meet-icons {
  width: 50%;
  min-width: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.meet-card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.meet-card:hover .img-container {
  transform: scale(1.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s, transform 0.6s;
}

.visible {
  animation: fadeIn 2s forwards;
}



@media(max-width:1100px) {
  #semeettheteam-section h2 {
    margin-top: 30px;
  }

  .meet-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  #sermeettheteam-section #paragraph {
    width: 80%;
  }

  .meet-cards .meet-card:nth-child(5) {
    grid-column: 1 / -1;
    /* Makes it span across all columns in the grid */
    justify-self: center;
    /* Centers it within the grid */
    max-width: 100%;
    /* Adjust width to match the other cards, taking the gap into account */
  }
}

@media(max-width:900px) {
  .meet-cards .meet-card {
    height: 400px;
    width: 400px;
    margin: 20px 0;
  }
}

/* Meet the team end */
